@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

/* Check if we need this for tailwind */
body {
    min-width: 100vw;
}